---
layout: default
title: My data science projects
---
 
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My data science projects</h1>
            </div>
        </div>
        <!-- /.row -->


  
  
        <!-- Projects Row -->
{% assign counter=0%}
{% for post in site.categories['nanodegree'] %}
        {% assign  counter =  counter | plus: 1%}
		{% if counter == 1%}
		<div class="row">
		{%endif%}
            <div class="col-md-6 portfolio-item">
					<img class="img-responsive" src="{{ site.url }}/img/{{ post.img }}">
                <h3>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h3>
				<p><span class="glyphicon glyphicon-briefcase"></span> {{ post.pr_category }}</p>
				<p><span class="glyphicon glyphicon-wrench"></span> {{ post.tools }}</p>
				<p><span class="glyphicon glyphicon-link"></span> <a href="{{ post.github }}">{{ post.github }}</a></p>
                <p>{{ post.excerpt }}</p>
            </div>

		{% if counter == 2%}
		{% assign counter=0%}
		</div>
		{%endif%}

{% endfor %}  
		<!-- /.row -->

        <!-- Pagination -->
        <!--
		<div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
		-->
        <!-- /.row -->

		
