---
layout: default
---     
       <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-12">
                <h3>
                    {{ page.title }}
                </h3>
                <p class="post_second_level_header">
                    <span class="glyphicon glyphicon-calendar"></span>{{ page.date | date_to_string }}
                    <span class="glyphicon glyphicon-link"></span>
                    <a href="{{ page.source_url }}" >GitHub source code</a>
                    <span class="glyphicon glyphicon-tags"></span>
                    {% for tag in page.tags %} 
                        <a href="/tags/{{ tag }}" rel="tooltip">
                            <span class="label label-info">{{ tag }}</span></a> 
                    {% if forloop.last != true %} {% endif %} {% endfor %}                     
                </p>
                <hr>                
                {{ content }}   
            </div>