---
layout: default
---

<h2>{{ page.title }}</h2>
<p class="post_second_level_header">
	<span class="glyphicon glyphicon-calendar"></span>{{ page.date | date_to_string }}
	<span class="glyphicon glyphicon-comment"></span><a href="http://localhost:4000{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}"></a>
	<span class="glyphicon glyphicon-folder-open"></span>{{ page.category }}
	<span class="glyphicon glyphicon-tags"></span>
		{% for tag in page.tags %} 
			<a href="/tags/{{ tag }}" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;">
				<span class="label label-info">{{ tag }}</span></a> 
		{% if forloop.last != true %} {% endif %} {% endfor %} 
</p>
<hr>
<div id="post_content" class="post-content">
{{ content }}
</div>
<hr>
{% include comments.html %}